# https://yarnpkg.com/en/docs/cli/add#toc-yarn-add-exact-e
--add.exact true

# https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-ignore-scripts
--install.ignore-scripts true

# https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-production-true-false
--install.production false
